puphpet/config-custom.yaml
.idea
.DS_Store
.vagrant
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
puphpet/files/dot/ssh
!puphpet/files/dot/ssh/insecure_private_key